@use './mixin' as m;
@use './variables' as v;

.tooltip {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  min-width: 18rem;
  max-width: calc(100vw * 0.5);
  background-color: v.$primary;
  border-radius: 1rem;
  text-align: left;
  &-content {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    min-width: 18rem;
    max-width: calc(100vw * 0.5);
    height: 100%;
    padding: 1rem;
    color: v.$white;
    box-sizing: border-box;
    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: -2rem;
      left: 2rem;
      border: 1rem solid transparent;
      border-bottom-color: v.$primary;
    }
  }
  &.tooltip-left {
    .tooltip-content {
      &::before {
        left: 2rem;
      }
    }
  }
  &.tooltip-right {
    .tooltip-content {
      &::before {
        left: auto;
        right: 2rem;
      }
    }
  }
  &.tooltip-center {
    .tooltip-content {
      &::before {
        left: calc(100% * 0.5 - 1rem);
        right: auto;
      }
    }
  }
  &.tooltip-top {
    .tooltip-content {
      &::before {
        top: auto;
        bottom: -2rem;
        transform: rotate(180deg);
      }
    }
  }
  // transition
  // &-enter-active, 
  // &-leave-active {
  //   transition: opacity .3s;
  // }
  // &-enter, 
  // &-leave-to {
  //   opacity: 0;
  //   transition: opacity .3s;
  // }
}
.btn-tooltip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border: 1px solid v.$line;
  border-radius: 50%;
  @include m.font($font-size: 1.2rem);
  box-sizing: border-box;
  &-close {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-flex;
    width: 3rem;
    height: 3rem;
    @include m.font($color: v.$white, $font-size: 1.6rem);
    .icon-close {
      @include m.iconClose($color: v.$white);
    }
  }
}
.tooltip-dim {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
}