@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, a:active, a:focus, button {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  background: none;
}

/* reset */
html {
  font-size: 62.5%;
}

body {
  color: #000;
  font-size: 1.4rem;
  line-height: 1.4;
}

html,
body {
  height: 100%;
}

body {
  position: relative;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
  width: 100%;
  height: 6rem;
  background-color: #6c2aef;
}
.header .title {
  padding: 0 2rem;
  color: #fff;
  font-weight: 400;
  font-size: 3rem;
}
.header .title a {
  display: block;
  color: #fff;
}
.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: auto;
  width: calc(100% - 6.8rem);
  padding-right: 2rem;
}
.header nav::-webkit-scrollbar {
  display: none;
}

main {
  display: block;
}

.page {
  padding-bottom: 4rem;
}

.section {
  padding: 0 2rem;
}
.section h2 {
  color: #000;
  font-weight: 400;
  font-size: 1.8rem;
}
.section h3 {
  padding: 2rem 0 1rem;
  color: #000;
  font-weight: 400;
  font-size: 2rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0); /* 구형 브라우저를 위해 사용 */
  -webkit-clip-path: polygon(0 0, 0 0, 0 0);
          clip-path: polygon(0 0, 0 0, 0 0); /* inset(50%) 와 동일한 표현 */
  border: 0;
}

.icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2.4rem;
  height: 2.4rem;
}
.icon::after {
  content: "";
}
.icon-close {
  position: relative;
}
.icon-close::before, .icon-close::after {
  content: "";
  position: absolute;
  left: 0.8rem;
  width: 1.5px;
  height: 23px;
  background-color: #000;
}
.icon-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.icon-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.btn ~ .btn {
  margin-left: 1rem;
}
.btn > span {
  pointer-events: none;
}
.btn-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.btn-area .btn {
  width: 100%;
}
.btn-area .btn ~ .btn {
  margin-left: 1rem;
}
.btn-nav {
  height: 4rem;
  padding: 0 2rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 0.5rem 0 rgba(255, 255, 255, 0.2);
          box-shadow: 0 0 0.5rem 0 rgba(255, 255, 255, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  font-weight: 400;
  font-size: 1.6rem;
}
.btn-nav.is-active {
  border-color: white;
  border-width: 1.5px;
}
.btn-primary {
  height: 4rem;
  padding: 0 2rem;
  background-color: #6c2aef;
  border-radius: 1rem;
  color: #fff;
  font-weight: 400;
  font-size: 1.4rem;
}
.btn-secondary {
  height: 4rem;
  padding: 0 2rem;
  background-color: #ddd;
  border-radius: 1rem;
  color: #000;
  font-weight: 400;
  font-size: 1.4rem;
}

.item-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100vh - 6rem);
}

.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.accordion {
  overflow: hidden;
  border: 1px solid #000;
  border-radius: 0.6rem;
}
.accordion .accordion-item ~ .accordion-item {
  border-top: 1px solid #000;
}
.accordion .accordion-item .accordion-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
}
.accordion .accordion-item .accordion-header .accordion-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  padding: 0 1.2rem 0 2rem;
}
.accordion .accordion-item .accordion-header .accordion-btn .icon-arrow {
  margin-left: auto;
}
.accordion .accordion-item .accordion-header .accordion-btn[aria-expanded=true] .icon-arrow::after {
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
  margin-top: 0.3rem;
}
.accordion .accordion-item .accordion-header .accordion-btn[aria-expanded=false] .icon-arrow::after {
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -0.3rem;
}
.accordion .accordion-item .accordion-header .accordion-btn .accordion-title {
  margin: 0;
}
.accordion .accordion-item .accordion-header .accordion-title {
  margin-left: 2rem;
  color: #000;
  font-weight: 700;
  font-size: 1.6rem;
}
.accordion .accordion-item .accordion-header .accordion-title ~ .accordion-btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4.8rem;
  padding: 0;
  margin-left: auto;
}
.accordion .accordion-item .accordion-header .accordion-title ~ .accordion-btn .icon-arrow {
  margin-left: 0;
}
.accordion .accordion-item .accordion-body {
  overflow: hidden;
  height: 0;
  background-color: #eee;
  -webkit-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}
.accordion .accordion-item .accordion-body .accordion-content {
  padding: 2rem;
}

.tab {
  border: 1px solid #ddd;
  border-radius: 1rem;
  overflow: hidden;
}
.tab .tab-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ddd;
}
.tab .tab-link-btn {
  width: 100%;
  height: 5rem;
}
.tab .tab-link-btn ~ .tab-link-btn {
  border-left: 1px solid #ddd;
}
.tab .tab-link-btn.is-active {
  background-color: #ddd;
}
.tab .tab-content .tab-content-panel {
  display: none;
}
.tab .tab-content .tab-content-panel.is-active {
  display: block;
}
.tab .tab-content .tab-content-panel .tab-panel-inner {
  padding: 2rem;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 99;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.modal.is-show {
  display: block;
}
.modal .modal-dialog {
  height: 100%;
  padding: 0 1.5rem;
}
.modal .modal-dialog .modal-content {
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 1.6rem;
}
.modal .modal-dialog .modal-content .modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4.8rem;
  padding: 0 0 0 1.5rem;
  border-bottom: 1px solid #ddd;
}
.modal .modal-dialog .modal-content .modal-header .modal-title {
  color: #000;
  font-weight: bold;
  font-size: 1.8rem;
  text-align: center;
}
.modal .modal-dialog .modal-content .modal-header .btn-close {
  width: 4.8rem;
  height: 4.8rem;
  margin-left: auto;
}
.modal .modal-dialog .modal-content .modal-header .btn-close .icon {
  width: 1.8rem;
  height: 1.8rem;
}
.modal .modal-dialog .modal-content .modal-body {
  min-height: 10rem;
  padding: 1.5rem;
  color: #000;
  font-weight: 400;
  font-size: 1.6rem;
}
.modal .modal-dialog .modal-content .modal-footer {
  padding: 1rem;
  border-top: 1px solid #ddd;
}
.modal .modal-dialog .modal-content .modal-footer .btn-area {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.modal .modal-dialog .modal-content .modal-footer .btn-area .btn {
  width: auto;
  min-width: 9rem;
}

.modal-dim {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal-dim.is-hide {
  display: none;
}

.tooltip {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 20rem;
  height: 10rem;
  background-color: #6c2aef;
  border-radius: 1rem;
  text-align: left;
}
.tooltip::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.tooltip-content {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 1rem;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.tooltip-content::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -2rem;
  left: 2rem;
  border: 1rem solid transparent;
  border-bottom-color: #6c2aef;
}
.tooltip.is-show {
  display: block;
}

.btn-tooltip {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2rem;
  height: 2rem;
  border: 1px solid #ddd;
  border-radius: 50%;
  color: #000;
  font-weight: 400;
  font-size: 1.2rem;
}
.btn-tooltip-close {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 3rem;
  height: 3rem;
  color: #fff;
  font-weight: 400;
  font-size: 1.6rem;
}
.btn-tooltip-close .icon-close {
  width: 1.2rem;
  height: 1.2rem;
}
.btn-tooltip-close .icon-close::before, .btn-tooltip-close .icon-close::after {
  content: "";
  position: absolute;
  top: auto;
  left: 0.525rem;
  width: 0.15rem;
  height: 1.2rem;
  background-color: #fff;
}
.btn-tooltip-close .icon-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.btn-tooltip-close .icon-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

fieldset legend {
  margin-bottom: 1rem;
  color: #000;
  font-weight: 400;
  font-size: 1.6rem;
}

.form-checkbox-group {
  position: relative;
}
.form-checkbox-group ~ .form-checkbox-group {
  margin-top: 1rem;
}
.form-checkbox-group .form-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0); /* 구형 브라우저를 위해 사용 */
  -webkit-clip-path: polygon(0 0, 0 0, 0 0);
          clip-path: polygon(0 0, 0 0, 0 0); /* inset(50%) 와 동일한 표현 */
  border: 0;
}
.form-checkbox-group .form-checkbox:checked ~ .form-checkbox-label::before {
  border-color: #6c2aef;
}
.form-checkbox-group .form-checkbox:checked ~ .form-checkbox-label::after {
  width: 1rem;
  height: 0.5rem;
  border: 2px solid #6c2aef;
  border-top: 0;
  border-right: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 25% 25%;
      -ms-transform-origin: 25% 25%;
          transform-origin: 25% 25%;
}
.form-checkbox-group .form-checkbox-label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  font-weight: 400;
  font-size: 1.6rem;
}
.form-checkbox-group .form-checkbox-label::before {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.4rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.form-checkbox-group .form-checkbox-label::after {
  content: "";
  position: absolute;
  top: 0.9rem;
  left: 0.6rem;
  width: 1rem;
  height: 0.5rem;
  border: 2px solid #ddd;
  border-top: 0;
  border-right: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 25% 25%;
      -ms-transform-origin: 25% 25%;
          transform-origin: 25% 25%;
}

.form-radio-group {
  position: relative;
}
.form-radio-group ~ .form-radio-group {
  margin-top: 1rem;
}
.form-radio-group .form-radio {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0); /* 구형 브라우저를 위해 사용 */
  -webkit-clip-path: polygon(0 0, 0 0, 0 0);
          clip-path: polygon(0 0, 0 0, 0 0); /* inset(50%) 와 동일한 표현 */
  border: 0;
}
.form-radio-group .form-radio:checked ~ .form-radio-label::before {
  border-color: #6c2aef;
}
.form-radio-group .form-radio:checked ~ .form-radio-label::after {
  background-color: #6c2aef;
}
.form-radio-group .form-radio-label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  font-weight: 400;
  font-size: 1.6rem;
}
.form-radio-group .form-radio-label::before {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 1rem;
  border: 1px solid #ddd;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.form-radio-group .form-radio-label::after {
  content: "";
  position: absolute;
  top: 0.7rem;
  left: 0.7rem;
  width: 1rem;
  height: 1rem;
  background-color: #ddd;
  border-radius: 50%;
}

.form-input-group ~ .form-input-group {
  margin-top: 2rem;
}
.form-input-group .form-input-label {
  display: block;
  margin-bottom: 1rem;
  color: #000;
  font-weight: 400;
  font-size: 1.6rem;
}
.form-input-group .form-inner-group {
  position: relative;
}
.form-input-group .form-inner-group .form-input {
  width: 100%;
  height: 5rem;
  padding: 0 5rem 0 1.6rem;
  border: 1px solid #ddd;
  border-radius: 1rem;
  color: #000;
  font-weight: 400;
  font-size: 1.4rem;
}
.form-input-group .form-inner-group .form-input:focus {
  border-color: #6c2aef;
}
.form-input-group .form-inner-group .btn-close {
  display: none;
  position: absolute;
  top: 50%;
  right: 1.6rem;
  width: 2rem;
  height: 2rem;
  background-color: #ddd;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.form-input-group .form-inner-group .btn-close .icon-close {
  width: 1.2rem;
  height: 1.2rem;
}
.form-input-group .form-inner-group .btn-close .icon-close::before, .form-input-group .form-inner-group .btn-close .icon-close::after {
  content: "";
  position: absolute;
  top: auto;
  left: 0.525rem;
  width: 0.15rem;
  height: 1.2rem;
  background-color: #fff;
}
.form-input-group .form-inner-group .btn-close .icon-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.form-input-group .form-inner-group .btn-close .icon-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.form-input-group .form-inner-group .btn-close.is-show {
  display: block;
}
.form-input-group .form-input-valid {
  display: none;
  margin-top: 0.6rem;
  color: red;
  font-weight: 400;
  font-size: 1.2rem;
}
.form-input-group .form-input-valid.is-show {
  display: block;
}

.toast {
  position: fixed;
  bottom: -6rem;
  left: 50%;
  width: calc(100% - 4rem);
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  font-weight: 400;
  font-size: 1.4rem;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: bottom 0.3s;
  -o-transition: bottom 0.3s;
  transition: bottom 0.3s;
}
.toast.is-show {
  bottom: 6rem;
  -webkit-transition: bottom 0.3s;
  -o-transition: bottom 0.3s;
  transition: bottom 0.3s;
}